[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = ">=1.18"
pyutil = {git = "https://github.com/tomoki171923/python-util.git", editable = true, ref = "main"}

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
test_dynamodb = 'python -m unittest discover -s test -p "ut_dynamodb_*.py"'
test_lambdalib = 'python -m unittest discover -s test -p "ut_lambdalib_environment.py"'
